@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');

$font-header : 'Noto Serif', serif;
$font-body : 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;

$light-text : #000;
$dark-text : #FFF;

//light theme

$light-green : #6AAA64;
$light-yellow : #C9B458;
$light-grey : #787C7E;
$light-border : #D3D6DA;
$yellow: #FDB813;


//dark theme

$dark-green : #6AAA64;
$dark-yellow : #C9B458;
$dark-grey : #787C7E;
$dark-border : #D3D6DA;

