@import "config";


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-body;
    height: 100vh;
}

#title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid $light-border;
    font-family: $font-header;
    font-weight: bolder;
    font-size: 18px;
    padding: 0 16px;
    letter-spacing: 0.001em;

    #help{
        height: 24px;
    }
}



#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // height: 100vh;
    height: 100%;
}

#board-container {
    div {
        display: flex;
    }

    .tile{
        border: 2px $light-border solid;
        min-width: 50px;
        min-height: 50px;
        font-size: 2rem;
        line-height: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


#keyboard-container {
    height: 200px;
    width: 500px;

    .keyboard-row {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto 8px;

        button {
            background-color: $light-border;
            // color: #000;
            font-weight: bold;
            border: 0;
            padding: 0;
            height: 58px;
            // width: 48px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            text-transform: uppercase;
            margin-right: 6px;
            border-radius: 4px;
            user-select: none;
        
        } 

        button.key {
            min-width: 43px;
        }

        button.wide-button {
            flex-grow: 1.5;
            min-width: 65.4px;

            svg {
                margin-left: -3px;
            }
        }

        .spacer-half {
            flex-grow: 0.5;
        }

    }
}

.correct {
    background-color: $light-green;
    color: $dark-text;
    border-color: $light-green !important;
}

.present {
    background-color: $light-yellow;
    color: $dark-text;
    border-color: $light-yellow !important;
}

.absent {
    background-color: $light-grey;
    color: $dark-text;
    border-color:#787C7E !important;
}