@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");

:root {
  --font-header : "Noto Serif", serif;
  --font-body : "Clear Sans", "Helvetica Neue", Arial, sans-serif;

  --msg : #000;
  --msg-text : #fff;

  --bg : #fff;
  --heading : #000;
  --logo : #000;



  --green : #6aaa64;
  --yellow : #c9b458;
  --grey : #787c7e;

  --key-color : #d3d6da;
  --key-text-before : #000;

  --tile-border-before : #d3d6da;
  --tile-border-after : #878a8c;
  --tile-text-before : #000;
  --tile-text-after : #fff;


  --nav-border : #d3d6da;


  --switch-bg1 : #878a8c;
  --switch-bg2 : #565758;
  --gold : #fdb813;
  --white : #fff;



  /* --dark-border : #3a3a3c; */
}

.dark-theme {

  --msg : #fff;
  --msg-text : #000;


  --bg : #000;
  --heading : #fff;
  --logo : #fff;



  --green : #538d4e;
  --yellow : #b59f3b;
  --grey : #3a3a3c;

  --key-color : #818384;
  --key-text-before : #fff;

  --tile-border-before : #3a3a3c;
  --tile-border-after : #565758;
  --tile-text-before : #fff;
  --tile-text-after : #fff;

  --nav-border : #3a3a3c;


}

.tile-active {
  border-color: var(--tile-border-after) !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body {
  font-family: var(--font-body);
  height: 100vh; 
  background-color: var(--bg);
}

#title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid var(--nav-border);
  font-family: var(--font-header);
  color: var(--heading);
  font-weight: bolder;
  font-size: 18px;
  padding: 0 16px;
  letter-spacing: 0.001em; 
}

#title-container #help {
  height: 24px; 
}

path {
  fill: var(--logo);
}

#message-container {
  /* display: none; */
  visibility: hidden;
}

#message-container p {
  z-index: 2;
  background-color: var(--msg);
  color: var(--msg-text);
  font-weight: bold;
  width: fit-content;
  padding: 12px;
  border-radius: 4px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 100%);
  pointer-events: none;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%; 
}

#board-container div {
  display: flex; 
}

#board-container .tile {
  border: 2px var(--tile-border-before) solid;
  color: var(--tile-text-before);
  min-width: 50px;
  min-height: 50px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.correct {
  background-color: var(--green);
  color: var(--tile-text-after) !important;
  border-color: var(--green) !important; 
  opacity: 0;
}

.present {
  background-color: var(--yellow);
  color: var(--tile-text-after) !important;
  border-color: var(--yellow) !important; 
  opacity: 0;
}

.absent {
  background-color: var(--grey);
  color: var(--tile-text-after) !important;
  border-color: var(--grey) !important; 
  opacity: 0;
}

.tile-before {
  color: var(--tile-text-before) !important;
  background-color: transparent;
  opacity: 1;
  border-color: var(--tile-border-after) !important;
}

.tile-after {
  opacity: 1;
}

#keyboard-container {
  height: 200px;
  width: 500px; 
}

#keyboard-container .keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px; 
}

#keyboard-container .keyboard-row button {
  background-color: var(--key-color);
  color: var(--key-text-before);
  font-weight: bold;
  border: 0;
  padding: 0;
  height: 58px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 6px;
  border-radius: 4px;
  user-select: none; 
}

#keyboard-container .keyboard-row button.key {
  min-width: 43px; 
}

#keyboard-container .keyboard-row button.wide-button {
  flex-grow: 1.5;
  min-width: 65.4px; 
}

#keyboard-container .keyboard-row button.wide-button svg {
  margin-left: -3px; 
}

#keyboard-container .keyboard-row .spacer-half {
  flex-grow: 0.5; 
}

.correct-key {
  background-color: var(--green) !important;
  color: var(--white) !important;
}

.present-key {
  background-color: var(--yellow) !important;
  color: var(--white) !important;
}

.absent-key {
  background-color: var(--grey) !important;
  color: var(--white) !important;
}

.switch {
  width: 40px;
  height: 24px;
  background-color: var(--switch-bg1);
  border-radius: 40px;
  cursor: pointer;
  outline: none;
  overflow: hidden; 
}

.toggle-button {
  margin-left: 2px;
  transform: scale(0.8);
  transform-origin: center center; 
}

.toggle {
  position: relative;
  width: 12px;
  height: 12px;
  margin: 6px 9px 7px 2px;
  background-color: var(--gold);
  border-radius: 50%; 
}

.moon-mask {
  position: absolute;
  width: 12px;
  height: 12px;
  margin: -53px 0 0 26px;
  background-color: var(--switch-bg2);
  border-radius: 50%; 
}

.circles-wrapper .circle {
  position: absolute;
  width: 1px;
  height: 2px;
  background-color: var(--white);
  border-radius: 10px; 
}

.circles-wrapper .circle:first-child {
  width: 1.4px;
  height: 2.5px;
  margin: -22px 0 0 7px; 
}

.circles-wrapper .circle:nth-child(2) {
  width: 1.4px;
  height: 2.5px;
  margin: -6px 0 0 7px; 
}

.circles-wrapper .circle:nth-child(3) {
  margin: -13px 0 0 16px;
  transform: rotate(90deg); 
}

.circles-wrapper .circle:nth-child(4) {
  margin: -13px 0 0 0;
  transform: rotate(90deg); 
}

.circles-wrapper .circle:nth-child(5) {
  margin: -8px 0 0 2px;
  transform: rotate(45deg); 
}

.circles-wrapper .circle:nth-child(6) {
  margin: -8px 0 0 13px;
  transform: rotate(320deg); 
}

.circles-wrapper .circle:nth-child(7) {
  margin: -19px 0 0 1px;
  transform: rotate(135deg); 
}

.circles-wrapper .circle:nth-child(8) {
  margin: -19px 0 0 14px;
  transform: rotate(235deg); 
}

.wrong {
  animation: shakeX;
  animation-duration: 1s;
}

.flip {
  animation: 0.5s linear flipping !important;
}

@keyframes flipping {
  0% {
      transform: rotateX(0deg);
  }
  50% {
      transform: rotateX(90deg);
  }
  100% {
      transform: rotateX(0deg);
  }
}